<html>
  <head>
    <title>SignUp | Kissan Farm</title>
    <link rel="icon" href="../static/logo.png" type="image/gif" sizes="16x16" />
    <link rel="stylesheet" type="text/css" href="/static/signup.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body style="background-image: url(/static/img/farmerbg.jpg)">
    <div class="login-box">
      <img src="/static/img/avatar1.png" class="avatar" />
      <h1>SignUp Here</h1>
      <form onsubmit="event.preventDefault();">
        <p>Name</p>
        <input type="text" name="username" required/>
        <p>Email</p>
        <input type="email" name="email" required/>
        <p>Password</p>
        <input type="password" name="password" required/>
        <p>Confirm Password</p>
        <input type="password" name="cpassword" required/>
        <p>Contact Number</p>
        <input type="text" name="number" required/>
        <input
          type="submit"
          style="margin-top: 10px"
          name="submit"
          value="Signin"
          onclick=fun()
        />
        <div id = "error" style="color:red";></div>
        Already SignUp ?
        <a href="/Login" style="font-weight: bolder"><i>Login here</i></a>
      </form>
    </div>
  </body>
  <script>
    function fun(){
      user_data = {
          "username": document.querySelector('input[name="username"]').value,
          "email": document.querySelector('input[name="email"]').value,
          "password": document.querySelector('input[name="password"]').value,
          "cpassword": document.querySelector('input[name="cpassword"]').value,
          "number": document.querySelector('input[name="number"]').value
        };
    const emailRegexp = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    const numberRegexp = /[0-9]{10}/;
    var flag = 0;
    var str = "";
    document.getElementById('error').innerText = "";
    if(emailRegexp.test(user_data.email) == false){
      str += "Email Format not Correct";
      flag = 1;
    }
    if(user_data.password != user_data.cpassword){
      if(str.length > 0){
        str += "\n";
      }
      str += "Password does not match";
      flag = 1;
    }
    if(numberRegexp.test(user_data.number) == false){
      if(str.length > 0){
        str += "\n";
      }
      str += "Mobile Number not Correct";
      flag = 1;
    }

    document.getElementById('error').innerText = str;
    if(flag == 0){
     document.getElementById('error').innerText = "";
     $.ajax({
        type:'POST',
        url:'/Checksignup',
        dataType: "json",
        data:user_data,
        async:false
        });
    }}
  </script>
</html>
